<app-banner01 [content]="bannerContent"></app-banner01>
<section class="thutuc">
	<div class="content-container container">
		<div class="content-box">
			<div class="title">
				Thủ tục Giải quyết Quyền lợi Bảo hiểm
			</div>
			<p>- Phiếu yêu cầu thanh toán Quyền lợi Bảo hiểm (QLBH) đã được khai đầy đủ, chính xác.</p>
			<p>- Thư chấp thuận/ủy quyền cho Chubb Life thu thập thông tin có xác nhận của chính quyền địa phương.</p>
			<p>- Bằng chứng hợp pháp về Sự kiện Bảo hiểm xảy ra (Giấy chứng tử, biên bản tai nạn, hồ sơ y tế, Biên bản giám định
				thương tật, bản gốc hoặc bản sao có chứng thực các hóa đơn tài chính cho chi phí nằm viện, bảng kê chi phí nằm
				viện, giấy xác nhận điều trị tại Khoa hồi sức tích cực và/hoặc những tài liệu khác) theo yêu cầu của Chubb Life phù
				hợp với quy định của pháp luật.</p>
			<p>- Bằng chứng hợp pháp vể quyền nhận tiền bảo hiểm (Giấy ủy quyền, bản sao y các giấy tờ chứng minh nhân thân và
				chứng minh các mối quan hệ hôn nhân, huyết thống, nuôi dưỡng, cấp dưỡng).</p>
			<p>- Bản gốc Hợp đồng Bảo hiểm và tất cả các bản phụ lục, các bản đính kèm, các tài liệu đưa vào tham chiếu (nếu
				có).
			</p>
		</div>
		<!-- box-1 -->
		<div class="content-box">
			<div class="title">
				Tiếp nhận Hồ sơ yêu cầu giải quyết Quyền lợi Bảo hiểm
			</div>
			<p>Khách hàng có thể nộp yêu cầu giải quyết Quyền lợi Bảo hiểm theo một trong những hình thức sau:</p>
			<p>- Liên hệ Đại diện Kinh doanh phục vụ/Đại lý thu phí bảo hiểm</p>
			<p>- Văn phòng giao dịch Chubb Life trên toàn quốc</p>
			<p>- Tổng đài phục vụ khách hàng (028) 3827 8989 hoặc Email theo địa chỉ <a href="/">chubblife.vietnam@chubb.com</a>
				để được hướng dẫn thêm.</p>
		</div>
		<!-- box-2 -->
		<div class="content-box">
			<div class="title">
				Thời hạn nộp Yêu cầu giải quyết Quyền lợi Bảo hiểm
			</div>
			<p>- Người được Bảo hiểm tử vong: Hai mươi bốn (24) tháng kể từ ngày Người được Bảo hiểm tử vong.</p>
			<p>- Người được Bảo hiểm bị tàn tật do tai nạn hoặc bị thương tật toàn bộ và vĩnh viễn: Mười hai (12) tháng kể từ
				ngày Người được Bảo hiểm bị thương tật toàn bộ và vĩnh viễn.</p>
			<p>- Người được Bảo hiểm mắc Bệnh Nan y: Chín mươi (90) ngày kể từ ngày Người được Bảo hiểm được chẩn đoán xác định
				mắc Bệnh Nan y.</p>
			<p>- Người được Bảo hiểm nằm viện nội trú tại các Bệnh viện hoặc Người được Bảo hiểm bị chấn thương do Tai nạn dẫn
				đến tổn thương nội tạng hay tổn thương xương khớp hoặc bị bỏng do Tai nạn: Sáu mươi (60) ngày kể từ ngày Người được
				Bảo hiểm xuất viện hoặc kể từ ngày Bác sĩ chẩn đoán xác nhận Người được Bảo hiểm bị tổn thương xương, khớp, dây
				chằng hay bị gãy xương.</p>
		</div>
		<!-- box-3 -->
		<div class="content-box">
			<div class="title">
				Thời hạn giải quyết Quyền lợi Bảo hiểm
			</div>
			<p>Chubb Life có trách nhiệm giải quyết Quyền lợi Bảo hiểm cho Người nhận Quyền lợi Bảo hiểm trong thời gian ba mươi
				(30) ngày kể từ ngày nhận được tài liệu đầy đủ và hợp lệ theo yêu cầu của Chubb Life.
			</p>
		</div>
		<!-- box-4 -->
		<div class="content-box">
			<div class="title">
				Chứng từ yêu cầu chứng minh cho Sự kiện Bảo hiểm
			</div>
			<h3>• Trường hợp yêu cầu thanh toán Quyền lợi Bảo hiểm tử vong:</h3>
			<p>- Giấy chứng tử/Trích lục Khai tử của Người được Bảo hiểm do Chính quyền địa phương cấp (bản sao có chứng thực)
			</p>
			<p>
				- Hộ khẩu xóa tử của Người được Bảo hiểm (bản sao có chứng thực)
			</p>
			<p>- Bộ Hợp đồng Bảo hiểm gốc</p>
			<p>- Nếu Người được Bảo hiểm tử vong do Tai nạn: <br>
				  + Biên bản kết luận điều tra nguyên nhân tử vong do cơ quan chính quyển có thẩm quyển lập (bản chính hoặc bản
				sao có chứng thực) <br>
				  + Biên bản khám nghiệm tử thi do cơ quan chính quyền có thẩm quyền lập (bản chính hoặc bản sao có chứng thực) <br>
				  + Các chứng từ y tế (Tóm tắt Bệnh án, Giấy ra viện, Đơn thuốc, Hóa đơn...) quá trình điều trị sau khi bị Tai nạn
				do Bệnh viện cấp (Bản chính hoặc bản sao có chứng thực)</p>
			<p>- Nếu Người được Bảo hiểm tử vong do Bệnh: <br>
					  + Tóm tắt Bệnh án/Giấy ra viện/Các chứng từ y tế cho tất cả lần khám và chữa bệnh ngoại trú/nội trú của Người được Bảo hiểm do các Bệnh viện cấp (Bản chính hoặc bản sao có chứng thực)</p>
			<h3>
				•  Trường hợp yêu cầu thanh toán Quyền lợi Bảo hiểm thương tật toàn bộ và vĩnh viễn:
			</h3>
			<p>- Kết quả Giám định Y khoa do Hội đồng Giám định Y khoa (của trung ương/tỉnh hoặc thành phố trực thuộc trung ương nơi người bị thương tật đang cư ngụ) thực hiện sau 6 tháng kể từ ngày bị thương tật (bản chính hoặc bản sao có chứng thực)</p>
			<p>- Nếu Người được Bảo hiểm bị thương tật toàn bộ và vĩnh viễn do Tai nạn: <br>
					  + Biên bản kết luận điều tra vụ tai nạn do cơ quan chính quyền có thẩm quyền lập (bản chính hoặc bản sao có chứng thực) <br>
					  + Các chứng từ về y tế (Tóm tắt Bệnh án, Giấy ra viện, Đơn thuốc, Hóa đơn...) quá trình điều trị sau khi bị Tai nạn do Bệnh viện cấp (bản chính hoặc bản sao có chứng thực)</p>
			<p>- Nếu Người được Bảo hiểm bị thương tật toàn bộ vĩnh viễn do Bệnh: <br>
					  + Tóm tắt Bệnh án/Giấy ra viện/Các chứng từ y tế cho tất cả lần khám và chữa bệnh ngoại trú/nội trú của Người được Bảo hiểm do các Bệnh viện cấp (bản chính hoặc có thị thực sao y bảo chính).</p>
			<h3>•  Trường hợp yêu cầu thanh toán Quyền lợi Bảo hiểm thương tật do tai nạn (chấn thương nội tạng, chấn thương xương khớp, bỏng, tàn tật):</h3>
			<p>
					- Biên bản kết luận điều tra vụ tai nạn/Bản tường trình tai nạn có xác nhận của cơ quan chính quyền có thẩm quyền (bản chính hoặc bản sao có chứng thực)
			</p>
			<p>- Phim và kết quả chụp X-quang, hình ảnh chụp cắt lớp vi tính (CT scan), chụp cộng hưởng từ hạt nhân (MRI)</p>
			<p>- Các chứng từ y tế (Tóm tắt Bệnh án, Giấy ra viện, Đơn thuốc, Hóa đơn...) quá trình điều trị sau khi bị Tai nạn do Bệnh viện cấp (bản chính hoặc bản sao có chứng thực).</p>
			<h3>•  Trường hợp yêu cầu thanh toán Quyền lợi Bảo hiểm hỗ trợ nằm viện:</h3>
			<p>- Các chứng từ y tế liên quan đến đợt nằm viện nội trú (bản chính hoặc bản sao có chứng thực): Giấy ra viện; Giấy chứng nhận phẫu thuật (trong trường hợp Người được Bảo hiểm có thực hiện phẫu thuật); Hóa đơn thanh toán viện phí/Bản kê chi phí nằm viện; Các kết quả xét nghiệm, nội soi, siêu âm;</p>
			<p>- Trong trường hợp cần làm rõ thêm tiền sử bệnh/quá trình điều trị, Chubb Life có thể yêu cầu bổ sung Tóm tắt Bệnh án toàn bộ quá trình điều trị tại các Bệnh viện mà Người được Bảo hiểm đã nằm viện.</p>
			<h3>•  Trường hợp yêu cầu thanh toán Quyền lợi Bảo hiểm Bệnh nan y/Bệnh hiểm nghèo:</h3>
			<p>Các chứng từ y tế liên quan đến chẩn đoán Bệnh nan y/Bệnh hiểm nghèo và các đợt nằm viện nội trú (bản chính hoặc bản sao có chứng thực): Giấy ra viện, Giấy chứng nhận phẩu thuật (trong trường hợp Người được Bảo hiểm có thực hiện phẫu thuật); Kết quả sinh thiết/Kết quả giải phẫu bệnh; Tóm tắt Bệnh án toàn bộ quá trình khám/điều trị/nằm viện; Các kết quả xét nghiệm, nội soi, siêu âm; Hóa đơn thanh toán viện phí/Bảng kê chi phí nằm viện.</p>
			<h3>•  Trường hợp yêu cầu thanh toán trước một phần Quyền lợi Bảo hiểm khi tử vong:</h3>
			<p>Giấy xác nhận Người được Bảo hiểm có tiên lượng tử vong trong vòng 12 tháng của Bác sĩ điều trị tại một cơ sở y tế có thẩm quyền cấp.</p>
		</div>
		<!-- box-5 -->
		<div class="content-box">
				<div class="title">
						Thanh toán Số tiền Bảo hiểm
				</div>
				<h3>•  Trường hợp Bên mua Bảo hiểm có chỉ định Người thụ hưởng:</h3>
				<p>- Bổ sung giấy tờ tùy thân của Người thụ hưởng (bản sao có chứng thực)</p>
				<p>- Trong trường hợp Người thụ hưởng chưa đủ tuổi thành niên, cung cấp các giấy tờ chứng minh Người giám hộ/Người đại diện hợp pháp theo pháp luật</p>
				<p>- Nếu Người thụ hưởng ủy quyền cho người khác nhận hộ, cung cấp Giấy ủy quyền (bản chính có chứng thực chữ ký) và giấy tở tùy thân của Nguời được ủy quyền.</p>
				<h3>•  Trường hợp Bên mua Bảo hiểm không chỉ định Người thụ hưởng hoặc không xác định được Người thụ hưởng hoặc Người thụ hưởng đã qua đời trước Người được Bảo hiểm:</h3>
				<p>- Di chúc hợp pháp của Bên mua Bảo hiểm (bản sao có chứng thực)</p>
				<p>- Văn bản phân chia di sản thừa kế xác lập bởi hàng thừa kế hợp pháp hoặc Tờ khai quan hệ nhân thân (theo mẫu) với Bên mua Bảo hiểm do người yêu cầu giải quyết Quyền lợi Bảo hiểm lập.</p>
				<p>- Bằng chứng quan hệ thân tộc với Bên mua Bảo hiểm và các giấy tờ tùy thân đi kèm (Giấy khai sinh, Giấy chứng nhận đăng ký kết hôn, Giấy khai tử, Giấy xác nhận của tòa án, Hộ khẩu thường trú...)</p>
				<p>- Giấy ủy quyền nhận Quyền lợi Bảo hiểm của những người thừa kế cho người nhận Quyền lợi Bảo hiểm (bản chính có chứng thực chữ ký).
						Vui lòng tham khảo các mẫu chứng từ liên quan đến thủ tục yêu cầu giải quyết Quyền lợi Bảo hiểm tại đây:
						https://www.chubb.com/vn-vn/customer-service/chubb-life-claims.aspx</p>
			</div>
			<!-- box-6 -->
	</div>

</section>
