<app-banner01 [content]="bannerContent"></app-banner01>
<section class="about">
	<div class="content-container container">
		<div class="content-box-01 content-box">
			<h3 class="title">
				Tập Đoàn Chubb
			</h3>
			<p>Chubb là tập đoàn bảo hiểm tài sản và trách nhiệm lớn nhất thế giới được niêm yết trên thị trường chứng khoán.
			</p>
			<p>Hoạt động tại 54 quốc gia và các vùng lãnh thổ trên toàn cầu, tập đoàn Chubb cung cấp các dịch vụ bảo hiểm tài
				sản doanh nghiệp và cá nhân, bảo hiểm tai nạn cá nhân và bảo hiểm y tế bổ sung, tái bảo hiểm và bảo hiểm nhân
				thọ cho các đối tượng khách hàng đa dạng.
			</p>
			<p>
				Là một tập đoàn chuyên cung cấp dịch vụ bảo hiểm, chúng tôi đánh giá và quản lý rủi ro với sự am hiểu và tính
				kỷ luật. Chúng tôi thực hiện hoạt động bồi thường bảo hiểm một cách công bằng và nhanh chóng. Chubb nổi bật bởi
				danh mục sản phẩm và dịch vụ toàn diện của mình, năng lực phân phối rộng khắp, sức mạnh tài chính vượt trội, và
				hoạt động toàn cầu với chuyên môn được địa phương hóa.
			</p>

			<p>
				Chubb Limited, công ty mẹ của tập đoàn Chubb được niêm yết tại Sàn giao dịch Chứng khoán New York (NYSE:CB), và
				là một thành tố của chỉ số chứng khoán S&P 500. Với khoảng 31.000 nhân viên, Tập đoàn Chubb có văn phòng điều
				hành tại Zurich, New York, London và nhiều nơi khác trên thế giới.
			</p>

		</div>
		<div class="outer-box">
			<div class="content-box-02 content-box">
				<h3 class="title">
					Chubb Life Việt Nam
				</h3>
				<p>Chubb Life là khối kinh doanh Bảo hiểm Nhân thọ (BHNT) toàn cầu của Tập đoàn Chubb.
				</p>
				<p>Tại Châu Á, Chubb Life đã thành lập các đơn vị thành viên với 100% vốn sở hữu tại Hong Kong, Indonesia, Hàn
					Quốc, Đài Loan, Thái Lan, Việt Nam và một công ty liên doanh BHNT tại Trung Quốc.
				</p>
				<p>
					Chubb Life Việt Nam bắt đầu hoạt động kinh doanh tại Việt Nam vào năm 2005 và thành lập Công ty TNHH Một
					thành
					viên Quản lý Quỹ Chubb Life (Chubb Life FMC) vào năm 2014. Để đáp ứng nhu cầu bảo vệ và an toàn tài chính cho
					đa dạng các nhóm khách hàng tại thị trường Việt Nam, Chubb Life Việt Nam cung cấp một danh mục các sản phẩm
					bảo
					hiểm nhân thọ và đầu tư toàn diện. Với mạng lưới hơn 80 văn phòng trên toàn quốc, Chubb Life Việt Nam cung
					cấp
					các sản phẩm và dịch vụ của mình thông qua đội ngũ Đại diện Kinh doanh và một số ngân hàng được chọn lọc.
				</p>

				<p>
					Để biết thêm thông tin về Chubb Life Việt Nam, xin vui lòng truy cập:
					<a href="#">http://life.chubb.com/vn.</a>
				</p>

			</div>
		</div>

	</div>
</section>
