<app-banner01 [content]="bannerContent"></app-banner01>
<section class="products">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-6">
				<div class="bl-right">
					<p>Nhằm tăng cường sự bảo vệ và giúp khách hàng xua tan nỗi lo tài chính trong trường hợp không may mắc bệnh
						ung thư, Chubb Life Việt Nam giới thiệu sản phẩm Bảo hiểm hỗ trợ điều trị ung thư – C Care, được thiết kế
						phù hợp với nhu cầu và khả năng tài chính của nhiều đối tượng khách hàng.</p>
					<p>Tham gia sản phẩm Bảo hiểm hỗ trợ điều trị ung thư – C Care là khách hàng đã trang bị cho bản thân một hợp
						đồng bảo hiểm sức khỏe có mệnh giá cao với mức phí đóng rất hợp lý, mang lại sự an tâm về tinh thần cùng sự
						đảm bảo về tài chính cho gia đình, nếu chẳng may mắc phải căn bệnh đáng sợ này.</p>
				</div>
			</div>
			<!-- end- -->
			<div class="col-md-6">
				<div class="bl-left">
				</div>
			</div>
		</div>
		<!-- end-block-1 -->
	</div>
	<!-- ưu-điểm -->
	<div class="strong">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Ưu điểm nổi bật</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-lg-3 item">
					<figure>
						<div class="boximg">
							<img src="assets/img/product/product_icon_1.png" alt="" srcset="">
						</div>
						<figcaption>
							<p>Khách hàng được bảo vệ trong độ tuổi từ 01 tháng tuổi đến 65 tuổi.</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-sm-6 col-lg-3 item">
					<figure>
						<div class="boximg">
							<img src="assets/img/product/product_icon_2.png" alt="" srcset="">
						</div>
						<figcaption>
							<p>Quyền lợi bảo hiểm tối ưu hỗ trợ điều trị bệnh ung thư theo từng giai đoạn, với mức phí bảo hiểm hợp lý và
								không thay đổi trong suốt thời hạn Hợp đồng Bảo hiểm.</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-sm-6 col-lg-3 item">
					<figure>
						<div class="boximg">
							<img src="assets/img/product/product_icon_3.png" alt="" srcset="">
						</div>
						<figcaption>
							<p>Thủ tục tham gia bảo hiểm đơn giản, không cần khám sức khỏe.</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-sm-6 col-lg-3 item">
					<figure>
						<div class="boximg">
							<img src="assets/img/product/product_icon_4.png" alt="" srcset="">
						</div>
						<figcaption>
							<p>Chấp nhận kết quả chẩn đoán bệnh ung thư tại các Bệnh viện ở Việt Nam và nhiều quốc gia khác trên thế giới.</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
	<!-- ưu-điểm -->
	<!-- info -->
	<div class="info">
		<div class="container">
			<h2>Thông tin sản phẩm</h2>
			<div class="row">
				<div class="col-md-4 info-detail">
					<div class="info-details">
						<h3>Tuổi tham gia bảo hiểm</h3>
						<p>Từ 01 tháng tuổi đến 60 tuổi</p>
					</div>
				</div>
				<div class="col-md-4 info-detail">
					<div class="info-details">
						<h3>Thời hạn bảo hiểm</h3>
						<p>5 năm, kể từ ngày hiệu lực hợp đồng bảo hiểm</p>
					</div>
				</div>
				<div class="col-md-4 info-detail">
					<div class="info-details">
						<h3>Phí bảo hiểm</h3>
						<p>Khách hàng có thể lựa chọn đóng phí bảo hiểm một lần khi tham gia bảo hiểm, hoặc đóng phí bảo hiểm
							theo
							kỳ trong thời hạn hợp đồng bảo hiểm.</p>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col">
					<div class="file">
						<h4>Tài liệu giới thiệu sản phẩm:</h4>
						<a href="/">
							<img src="assets/img/product/file.png" alt="file"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
